::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: all 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

body {
    --theme-primary-color: 33, 150, 243;
    --theme-primary-color-lighten: rgb(187, 222, 251);
    --theme-primary-color-darken: rgb(30, 136, 229);
    --theme-primary-color-darken-2: rgb(25, 118, 210);
    --theme-on-primary-color: rgb(255, 255, 255);
    --theme-secondary-color: rgb(255, 64, 129);
    --theme-secondary-color-lighten: rgb(255, 128, 171);
    --theme-secondary-color-darken: rgb(245, 0, 87);
    --theme-background-color: rgb(244, 244, 244);
    --theme-surface-color: rgb(255, 255, 255);
    --theme-error-color: 244, 67, 54;
    --theme-text-color: rgba(0, 0, 0, 0.87);
    --theme-text-color-secondary: rgba(0, 0, 0, 0.54);
    --theme-text-color-disabled: rgba(0, 0, 0, 0.38);
    --theme-text-color-hint: var(--theme-text-color-disabled);
    --theme-on-background-color: var(--theme-text-color);
    --theme-on-surface-color: var(--theme-text-color);
    --theme-highlight-color: 0, 0, 0;
    --theme-divider-color: #e0e0e0;
    --theme-textfield-background-color: var(--theme-background-color);

    background-color: var(--theme-background-color);
    color: var(--theme-on-background-color);
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    body {
        --theme-background-color: rgb(18, 18, 18) !important;
        --theme-on-primary-color: rgb(0, 0, 0) !important;
        --theme-surface-color: rgb(31, 31, 31) !important;
        --theme-text-color: rgba(255, 255, 255, 1) !important;
        --theme-text-color-secondary: rgba(255, 255, 255, 0.7) !important;
        --theme-text-color-disabled: rgba(255, 255, 255, 0.5) !important;
        --theme-highlight-color: 255, 255, 255 !important;
        --theme-divider-color: #2e2e2e !important;
    }

    .footer .footer-link {
        filter: invert(1);
    }
}

.text-secondary {
    color: var(--theme-text-color-secondary);
}

.caption {
    font-size: 0.75em;
    color: var(--theme-text-color-hint);
}

.icon {
    user-select: none;
}

.header {
    background-color: var(--theme-background-color);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.header-title {
    font-size: 1.35em;
    margin: 0;
    user-select: none;
}

.spacer {
    flex: 1;
}

.header-title-full {
    display: none;
}

@media (min-width: 600px) {
    .header-title-full {
        display: inline;
    }
}

.main {
    padding: 16px;
}

.footer {
    background-color: var(--theme-background-color);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    font-size: 0.85em;
    user-select: none;
}

.footer .footer-copyright {
    opacity: 0.54;
}

.footer .footer-link {
    opacity: 0.54;
    transition: all 0.2s;
}

.footer .footer-link:hover {
    opacity: 0.87;
}

.svg-icon {
    width: 24px;
}

.card {
    background-color: var(--theme-surface-color);
    border-radius: 6px;
    padding: 16px;
}

a.card {
    text-decoration: none;
    color: inherit;
}

.card-header {
    position: relative;
    box-sizing: border-box;
}

.card-header-avatar {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.card-header-avatar ~ .card-header-title {
    margin-left: 48px;
}

.card-header-avatar ~ .card-header-subtitle {
    margin-left: 48px;
}

.card-header-title {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.87;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-header-subtitle {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    opacity: 0.54;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card .card-header + .card-content {
    margin-top: 8px;
}

.card .card-content {
    font-size: 1em;
}

.card .card-actions {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
    user-select: none;
    color: var(--theme-text-color);
}

.button:hover {
    background-color: rgba(var(--theme-highlight-color), 0.1);
}

.button:active {
    background-color: rgba(var(--theme-highlight-color), 0.2);
    transform: scale(0.95);
}

.button:disabled {
    color: var(--theme-text-color-disabled);
    cursor: not-allowed;
}

.button-fab {
    border-radius: 16px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    min-width: 80px;
    padding: 16px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgb(var(--theme-primary-color));
    color: var(--theme-on-primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-fab:hover {
    background-color: var(--theme-primary-color-darken);
}

.button-fab:active {
    background-color: var(--theme-primary-color-darken-2);
}

.button-fab:disabled {
    filter: grayscale(100%);
}

.button-fab .button-fab-text {
    line-height: 24px;
}

.button.button-primary {
    background-color: rgb(var(--theme-primary-color));
    color: var(--theme-on-primary-color);
}

.button.button-primary:not(:disabled):hover {
    background-color: var(--theme-primary-color-darken);
}

.button.button-primary:not(:disabled):active {
    background-color: var(--theme-primary-color-darken-2);
}

.button.button-primary:disabled {
    filter: grayscale(100%);
}

.button.button-tonal {
    background-color: rgba(var(--theme-primary-color), 0.12);
    color: rgb(var(--theme-primary-color));
}

.button.button-tonal:hover {
    background-color: rgba(var(--theme-primary-color), 0.24);
}

.button.button-tonal:active {
    background-color: rgba(var(--theme-primary-color), 0.36);
}

.button-icon {
    width: 36px;
    min-width: 36px;
    height: 36px;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    font-size: 24px;
    line-height: normal;
    border-radius: 50%;
}

.button-icon .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    user-select: none;
}

.badge {
    position: relative;
}

.badge[show]::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -4px;
    min-width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(var(--theme-primary-color));
    color: var(--theme-on-primary-color);
    display: block;
    transition: all 0.2s;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    user-select: none;
}

/* 角标，内容为锚点元素 */
.badge[show][data-text]::before {
    content: attr(data-text);
    top: -8px;
    right: -8px;
    min-width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 按钮组 */
.button-group {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
}

.button-group .button {
    border-radius: 0;
    padding: 8px;
}

.button-group .button:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.button-group .button:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.button-group .button.button-active {
    background-color: rgba(var(--theme-highlight-color), 0.1);
}

.button-group .button.button-active:hover {
    background-color: rgba(var(--theme-highlight-color), 0.2);
}

.button-group .button.button-active:active {
    background-color: rgba(var(--theme-highlight-color), 0.3);
}

/* 搜索框，无边框样式 */
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: var(--theme-surface-color);
    color: var(--theme-on-surface-color);
}

.search-box .search-box-input {
    flex: 1;
    border: none;
    padding: 8px;
    border-radius: 6px;
    font-size: 1em;
    background-color: transparent;
    color: var(--theme-text-color);
}

.search-box .search-box-input:focus {
    outline: none;
}

.search-box .search-box-input::placeholder {
    color: var(--theme-text-color-hint);
}

.textfield {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 6px;
    background-color: var(--theme-textfield-background-color);
    color: var(--theme-text-color);
}

.textfield label {
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    position: absolute;
    top: 50%;
    padding-left: 16px;
    transform: translateY(-50%);
    font-size: 1em;
    line-height: 1em;
    color: var(--theme-text-color-secondary);
    user-select: none;
}

.textfield .icon {
    transition: all 0.2s ease-in-out;
    position: absolute;
    padding-left: 12px;
    color: var(--theme-text-color-secondary);
}

.textfield .icon + input {
    padding-left: 52px;
}

.textfield .icon + input + label {
    padding-left: 52px;
}

.textfield input {
    position: relative;
    background-color: transparent;
    border: none;
    color: var(--theme-text-color);
    outline: none;
    flex: 1;
    top: 0;
    font-size: 1em;
    transition: all 0.2s ease-in-out;
    padding: 16px;
}

.textfield-wrapper {
    position: relative;
    padding: 16px 0;
}

.textfield-wrapper.textfield-wrapper--dense {
    padding: 0;
}

.textfield-wrapper.textfield-wrapper--dense .helper-text {
    display: none;
}

.textfield-wrapper .helper-text {
    font-size: 0.8em;
    color: var(--theme-text-color-secondary);
    margin-top: 4px;
    margin-left: 16px;
}

.textfield input:-webkit-autofill {
    background-color: transparent !important;
    color: var(--theme-text-color) !important;
    -webkit-transition: color 99999s 99999s ease-out,
    background-color 99999s 99999s ease-out;
}

.textfield.textfield--error {
    background-color: rgba(var(--theme-error-color), 0.1);
}

.textfield:not(.textfield--error).textfield--focused input {
    outline-color: var(--theme-text-color) !important;
}

.textfield.textfield--error .icon {
    color: rgb(var(--theme-error-color)) !important;
}

.textfield:not(.textfield--error).textfield--focused .icon {
    color: var(--theme-text-color) !important;
}

.textfield.textfield--error label {
    color: rgb(var(--theme-error-color)) !important;
}

.textfield:not(.textfield--error).textfield--focused label {
    color: var(--theme-text-color) !important;
}

.textfield.textfield--focused input,
.textfield.textfield--not-empty input {
    /* top: 0.5em; */
    padding-top: calc(16px + 0.5em);
    padding-bottom: calc(16px - 0.5em);
}

.textfield.textfield--focused label,
.textfield.textfield--not-empty label {
    top: 1.2em;
    font-size: 0.8em;
    line-height: 0.8em;
}

.textfield input::placeholder {
    opacity: 0;
    transition: all 0.3s;
    user-select: none;
    color: var(--theme-text-color-hint);
}

.textfield.textfield--focused input::placeholder {
    opacity: 1;
}

.link {
    color: var(--theme-secondary-color);
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    vertical-align: top;
    outline: 0;
}

.link::before {
    position: absolute;
    top: auto;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--theme-secondary-color);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    content: " ";
}

.link:focus::before,
.link:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Container */

.container,
.container-fluid {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding-right: 8px;
    padding-left: 8px;
}

.container-fluid::after,
.container::after {
    display: table;
    clear: both;
    content: "";
}

.container {
    width: 96%;
    max-width: 1280px;
}

@media (min-width: 600px) {
    .container {
        width: 94%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 92%;
    }
}

.row,
[class*="row-"] {
    margin-right: -8px;
    margin-left: -8px;
}

.row::after,
[class*="row-"]::after {
    display: table;
    clear: both;
    content: "";
}

.col,
[class*="col-lg-"],
[class*="col-md-"],
[class*="col-sm-"],
[class*="col-xl-"],
[class*="col-xs-"] {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
}

.row-gapless .col,
.row-gapless [class*="col-lg-"],
.row-gapless [class*="col-md-"],
.row-gapless [class*="col-sm-"],
.row-gapless [class*="col-xl-"],
.row-gapless [class*="col-xs-"] {
    padding-right: 0;
    padding-left: 0;
}

.row-gapless .row,
.row-gapless [class*="row-"] {
    margin-right: 0;
    margin-left: 0;
}

.col-xs-1 {
    float: left;
    width: 8.333333%;
}

.col-offset-xs-1 {
    margin-left: 8.333333%;
}

.row-xs-1 .col {
    float: left;
    width: 100%;
}

.col-xs-2 {
    float: left;
    width: 16.666667%;
}

.col-offset-xs-2 {
    margin-left: 16.666667%;
}

.row-xs-2 .col {
    float: left;
    width: 50%;
}

.col-xs-3 {
    float: left;
    width: 25%;
}

.col-offset-xs-3 {
    margin-left: 25%;
}

.row-xs-3 .col {
    float: left;
    width: 33.333333%;
}

.col-xs-4 {
    float: left;
    width: 33.333333%;
}

.col-offset-xs-4 {
    margin-left: 33.333333%;
}

.row-xs-4 .col {
    float: left;
    width: 25%;
}

.col-xs-5 {
    float: left;
    width: 41.666667%;
}

.col-offset-xs-5 {
    margin-left: 41.666667%;
}

.row-xs-5 .col {
    float: left;
    width: 20%;
}

.col-xs-6 {
    float: left;
    width: 50%;
}

.col-offset-xs-6 {
    margin-left: 50%;
}

.row-xs-6 .col {
    float: left;
    width: 16.666667%;
}

.col-xs-7 {
    float: left;
    width: 58.333333%;
}

.col-offset-xs-7 {
    margin-left: 58.333333%;
}

.row-xs-7 .col {
    float: left;
    width: 14.285714%;
}

.col-xs-8 {
    float: left;
    width: 66.666667%;
}

.col-offset-xs-8 {
    margin-left: 66.666667%;
}

.row-xs-8 .col {
    float: left;
    width: 12.5%;
}

.col-xs-9 {
    float: left;
    width: 75%;
}

.col-offset-xs-9 {
    margin-left: 75%;
}

.row-xs-9 .col {
    float: left;
    width: 11.111111%;
}

.col-xs-10 {
    float: left;
    width: 83.333333%;
}

.col-offset-xs-10 {
    margin-left: 83.333333%;
}

.row-xs-10 .col {
    float: left;
    width: 10%;
}

.col-xs-11 {
    float: left;
    width: 91.666667%;
}

.col-offset-xs-11 {
    margin-left: 91.666667%;
}

.row-xs-11 .col {
    float: left;
    width: 9.090909%;
}

.col-xs-12 {
    float: left;
    width: 100%;
}

.col-offset-xs-12 {
    margin-left: 100%;
}

.row-xs-12 .col {
    float: left;
    width: 8.333333%;
}

@media (min-width: 600px) {
    .col-sm-1 {
        float: left;
        width: 8.333333%;
    }

    .col-offset-sm-1 {
        margin-left: 8.333333%;
    }

    .row-sm-1 .col {
        float: left;
        width: 100%;
    }

    .col-sm-2 {
        float: left;
        width: 16.666667%;
    }

    .col-offset-sm-2 {
        margin-left: 16.666667%;
    }

    .row-sm-2 .col {
        float: left;
        width: 50%;
    }

    .col-sm-3 {
        float: left;
        width: 25%;
    }

    .col-offset-sm-3 {
        margin-left: 25%;
    }

    .row-sm-3 .col {
        float: left;
        width: 33.333333%;
    }

    .col-sm-4 {
        float: left;
        width: 33.333333%;
    }

    .col-offset-sm-4 {
        margin-left: 33.333333%;
    }

    .row-sm-4 .col {
        float: left;
        width: 25%;
    }

    .col-sm-5 {
        float: left;
        width: 41.666667%;
    }

    .col-offset-sm-5 {
        margin-left: 41.666667%;
    }

    .row-sm-5 .col {
        float: left;
        width: 20%;
    }

    .col-sm-6 {
        float: left;
        width: 50%;
    }

    .col-offset-sm-6 {
        margin-left: 50%;
    }

    .row-sm-6 .col {
        float: left;
        width: 16.666667%;
    }

    .col-sm-7 {
        float: left;
        width: 58.333333%;
    }

    .col-offset-sm-7 {
        margin-left: 58.333333%;
    }

    .row-sm-7 .col {
        float: left;
        width: 14.285714%;
    }

    .col-sm-8 {
        float: left;
        width: 66.666667%;
    }

    .col-offset-sm-8 {
        margin-left: 66.666667%;
    }

    .row-sm-8 .col {
        float: left;
        width: 12.5%;
    }

    .col-sm-9 {
        float: left;
        width: 75%;
    }

    .col-offset-sm-9 {
        margin-left: 75%;
    }

    .row-sm-9 .col {
        float: left;
        width: 11.111111%;
    }

    .col-sm-10 {
        float: left;
        width: 83.333333%;
    }

    .col-offset-sm-10 {
        margin-left: 83.333333%;
    }

    .row-sm-10 .col {
        float: left;
        width: 10%;
    }

    .col-sm-11 {
        float: left;
        width: 91.666667%;
    }

    .col-offset-sm-11 {
        margin-left: 91.666667%;
    }

    .row-sm-11 .col {
        float: left;
        width: 9.090909%;
    }

    .col-sm-12 {
        float: left;
        width: 100%;
    }

    .col-offset-sm-12 {
        margin-left: 100%;
    }

    .row-sm-12 .col {
        float: left;
        width: 8.333333%;
    }
}

@media (min-width: 1024px) {
    .col-md-1 {
        float: left;
        width: 8.333333%;
    }

    .col-offset-md-1 {
        margin-left: 8.333333%;
    }

    .row-md-1 .col {
        float: left;
        width: 100%;
    }

    .col-md-2 {
        float: left;
        width: 16.666667%;
    }

    .col-offset-md-2 {
        margin-left: 16.666667%;
    }

    .row-md-2 .col {
        float: left;
        width: 50%;
    }

    .col-md-3 {
        float: left;
        width: 25%;
    }

    .col-offset-md-3 {
        margin-left: 25%;
    }

    .row-md-3 .col {
        float: left;
        width: 33.333333%;
    }

    .col-md-4 {
        float: left;
        width: 33.333333%;
    }

    .col-offset-md-4 {
        margin-left: 33.333333%;
    }

    .row-md-4 .col {
        float: left;
        width: 25%;
    }

    .col-md-5 {
        float: left;
        width: 41.666667%;
    }

    .col-offset-md-5 {
        margin-left: 41.666667%;
    }

    .row-md-5 .col {
        float: left;
        width: 20%;
    }

    .col-md-6 {
        float: left;
        width: 50%;
    }

    .col-offset-md-6 {
        margin-left: 50%;
    }

    .row-md-6 .col {
        float: left;
        width: 16.666667%;
    }

    .col-md-7 {
        float: left;
        width: 58.333333%;
    }

    .col-offset-md-7 {
        margin-left: 58.333333%;
    }

    .row-md-7 .col {
        float: left;
        width: 14.285714%;
    }

    .col-md-8 {
        float: left;
        width: 66.666667%;
    }

    .col-offset-md-8 {
        margin-left: 66.666667%;
    }

    .row-md-8 .col {
        float: left;
        width: 12.5%;
    }

    .col-md-9 {
        float: left;
        width: 75%;
    }

    .col-offset-md-9 {
        margin-left: 75%;
    }

    .row-md-9 .col {
        float: left;
        width: 11.111111%;
    }

    .col-md-10 {
        float: left;
        width: 83.333333%;
    }

    .col-offset-md-10 {
        margin-left: 83.333333%;
    }

    .row-md-10 .col {
        float: left;
        width: 10%;
    }

    .col-md-11 {
        float: left;
        width: 91.666667%;
    }

    .col-offset-md-11 {
        margin-left: 91.666667%;
    }

    .row-md-11 .col {
        float: left;
        width: 9.090909%;
    }

    .col-md-12 {
        float: left;
        width: 100%;
    }

    .col-offset-md-12 {
        margin-left: 100%;
    }

    .row-md-12 .col {
        float: left;
        width: 8.333333%;
    }
}

@media (min-width: 1440px) {
    .col-lg-1 {
        float: left;
        width: 8.333333%;
    }

    .col-offset-lg-1 {
        margin-left: 8.333333%;
    }

    .row-lg-1 .col {
        float: left;
        width: 100%;
    }

    .col-lg-2 {
        float: left;
        width: 16.666667%;
    }

    .col-offset-lg-2 {
        margin-left: 16.666667%;
    }

    .row-lg-2 .col {
        float: left;
        width: 50%;
    }

    .col-lg-3 {
        float: left;
        width: 25%;
    }

    .col-offset-lg-3 {
        margin-left: 25%;
    }

    .row-lg-3 .col {
        float: left;
        width: 33.333333%;
    }

    .col-lg-4 {
        float: left;
        width: 33.333333%;
    }

    .col-offset-lg-4 {
        margin-left: 33.333333%;
    }

    .row-lg-4 .col {
        float: left;
        width: 25%;
    }

    .col-lg-5 {
        float: left;
        width: 41.666667%;
    }

    .col-offset-lg-5 {
        margin-left: 41.666667%;
    }

    .row-lg-5 .col {
        float: left;
        width: 20%;
    }

    .col-lg-6 {
        float: left;
        width: 50%;
    }

    .col-offset-lg-6 {
        margin-left: 50%;
    }

    .row-lg-6 .col {
        float: left;
        width: 16.666667%;
    }

    .col-lg-7 {
        float: left;
        width: 58.333333%;
    }

    .col-offset-lg-7 {
        margin-left: 58.333333%;
    }

    .row-lg-7 .col {
        float: left;
        width: 14.285714%;
    }

    .col-lg-8 {
        float: left;
        width: 66.666667%;
    }

    .col-offset-lg-8 {
        margin-left: 66.666667%;
    }

    .row-lg-8 .col {
        float: left;
        width: 12.5%;
    }

    .col-lg-9 {
        float: left;
        width: 75%;
    }

    .col-offset-lg-9 {
        margin-left: 75%;
    }

    .row-lg-9 .col {
        float: left;
        width: 11.111111%;
    }

    .col-lg-10 {
        float: left;
        width: 83.333333%;
    }

    .col-offset-lg-10 {
        margin-left: 83.333333%;
    }

    .row-lg-10 .col {
        float: left;
        width: 10%;
    }

    .col-lg-11 {
        float: left;
        width: 91.666667%;
    }

    .col-offset-lg-11 {
        margin-left: 91.666667%;
    }

    .row-lg-11 .col {
        float: left;
        width: 9.090909%;
    }

    .col-lg-12 {
        float: left;
        width: 100%;
    }

    .col-offset-lg-12 {
        margin-left: 100%;
    }

    .row-lg-12 .col {
        float: left;
        width: 8.333333%;
    }
}

@media (min-width: 1920px) {
    .col-xl-1 {
        float: left;
        width: 8.333333%;
    }

    .col-offset-xl-1 {
        margin-left: 8.333333%;
    }

    .row-xl-1 .col {
        float: left;
        width: 100%;
    }

    .col-xl-2 {
        float: left;
        width: 16.666667%;
    }

    .col-offset-xl-2 {
        margin-left: 16.666667%;
    }

    .row-xl-2 .col {
        float: left;
        width: 50%;
    }

    .col-xl-3 {
        float: left;
        width: 25%;
    }

    .col-offset-xl-3 {
        margin-left: 25%;
    }

    .row-xl-3 .col {
        float: left;
        width: 33.333333%;
    }

    .col-xl-4 {
        float: left;
        width: 33.333333%;
    }

    .col-offset-xl-4 {
        margin-left: 33.333333%;
    }

    .row-xl-4 .col {
        float: left;
        width: 25%;
    }

    .col-xl-5 {
        float: left;
        width: 41.666667%;
    }

    .col-offset-xl-5 {
        margin-left: 41.666667%;
    }

    .row-xl-5 .col {
        float: left;
        width: 20%;
    }

    .col-xl-6 {
        float: left;
        width: 50%;
    }

    .col-offset-xl-6 {
        margin-left: 50%;
    }

    .row-xl-6 .col {
        float: left;
        width: 16.666667%;
    }

    .col-xl-7 {
        float: left;
        width: 58.333333%;
    }

    .col-offset-xl-7 {
        margin-left: 58.333333%;
    }

    .row-xl-7 .col {
        float: left;
        width: 14.285714%;
    }

    .col-xl-8 {
        float: left;
        width: 66.666667%;
    }

    .col-offset-xl-8 {
        margin-left: 66.666667%;
    }

    .row-xl-8 .col {
        float: left;
        width: 12.5%;
    }

    .col-xl-9 {
        float: left;
        width: 75%;
    }

    .col-offset-xl-9 {
        margin-left: 75%;
    }

    .row-xl-9 .col {
        float: left;
        width: 11.111111%;
    }

    .col-xl-10 {
        float: left;
        width: 83.333333%;
    }

    .col-offset-xl-10 {
        margin-left: 83.333333%;
    }

    .row-xl-10 .col {
        float: left;
        width: 10%;
    }

    .col-xl-11 {
        float: left;
        width: 91.666667%;
    }

    .col-offset-xl-11 {
        margin-left: 91.666667%;
    }

    .row-xl-11 .col {
        float: left;
        width: 9.090909%;
    }

    .col-xl-12 {
        float: left;
        width: 100%;
    }

    .col-offset-xl-12 {
        margin-left: 100%;
    }

    .row-xl-12 .col {
        float: left;
        width: 8.333333%;
    }
}

.item-list-container {
    background-color: var(--theme-surface-color);
    border-radius: 6px;
    margin-top: 16px;
}

.item-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item-list .empty-tip {
    display: none;
}

.item-list[data-empty="1"] .empty-tip {
    display: block;
}

.item-list-header {
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border-bottom: 1px solid #e0e0e0; */
}

.item-list-header-title {
    font-size: 1.25em;
    font-weight: bold;
    margin: 0;
    user-select: none;
}

.item-list .item-card + .item-card::before {
    content: "";
    display: block;
    position: relative;
    top: -16px;
    height: 1px;
    background-color: var(--theme-divider-color);
}

.top-cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.post-textarea {
    width: 100%;
    min-height: 8rem;
    padding: 16px;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    resize: none;
    background-color: var(--theme-background-color);
    color: var(--theme-text-color);
    box-sizing: border-box;
    transition: color, background-color 0.2s ease-in-out;
    /* outline: 1.5px solid var(--theme-text-color-secondary); */
    outline: none;
}

.post-textarea::placeholder {
    color: var(--theme-text-color-hint);
}

.post-textarea:focus {
    outline-width: 3px;
    outline-color: var(--theme-text-color);
}

.item-info {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.item-info-text {
    font-size: 0.85em;
    color: var(--theme-text-color-hint);
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 32px 0;
}

.stats-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.stats-item-title {
    font-size: 1.25em;
    opacity: 0.67;
}

.stats-item-value {
    font-size: 2em;
}

.sort-type-select {
    background-color: var(--theme-background-color);
}

.login-tip {
    text-align: center;
    padding: 32px 16px;
}

.login-tip-image {
    width: 100%;
    max-width: 240px;
}

.login-tip p:last-child {
    margin-bottom: 0;
}

.header-welcome {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.welcome-title {
    font-size: 1.8em;
    font-weight: bold;
}

.welcome-subtitle {
    font-size: 1.2em;
}

.insert-image input {
    display: none;
}

.empty-tip {
    padding: 32px 16px;
    text-align: center;
    color: var(--theme-text-color-hint);
}

.load-more-indicator {
    padding: 16px;
    text-align: center;
    color: var(--theme-text-color-hint);
}

.load-more-indicator .load-more-indicator-text {
    pointer-events: none;
    user-select: none;
}

.dropdown-menu {
    z-index: 10;
    position: absolute;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--theme-surface-color);
    border-radius: 6px;
}

.dropdown-menu:not(.dropdown-menu--active) {
    display: none;
}

.dropdown-menu.dropdown-menu--active {
    display: block;
}

.dropdown-item {
    padding: 8px 16px;
    display: block;
    text-decoration: none;
    color: var(--theme-text-color);
    transition: all 0.2s;
}